In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv("C:/Users/GABRIEL JOHNSON/Documents/Africas DeepTech Challage Prjoect/Dataset/nigerian_users.csv")

In [4]:
dataset.head(12)

,user_id,first_name,last_name,phone_number,email,state,region,registration_date,age,gender,occupation,income_level
0,f1c19208-f1ee-44a1-a295-8deed0332f81,Happiness,Okelola,9033218196,happiness.okelola@gmail.com,Adamawa,North East,2025-03-13,20,Male,Trader,50k-100k
1,63d02adb-4232-47e0-a9d2-26dea1c419b4,Chimamanda,Dahiru,9138637940,chimamanda.dahiru@hotmail.com,Adamawa,North East,2023-05-19,66,Male,Business Owner,100k-250k
2,2bdbec2c-f385-45a4-a179-a968107210ab,Ekene,Oyedepo,9011615594,ekene.oyedepo@gmail.com,Enugu,South East,2024-12-03,69,Male,Business Owner,Above 500k
3,a8685507-4209-4d0c-94a2-908836bbaf8c,Oladipo,Obi,9149593103,oladipo.obi@yahoo.com,Bayelsa,South South,2024-12-23,67,Female,Trader,50k-100k
4,2d2d0fe8-e662-452e-a2dc-1e59ab3cec87,Morakinyo,Offodile,7052553419,morakinyo.offodile@hotmail.com,Jigawa,North West,2024-08-27,58,Male,Civil Servant,50k-100k
5,597b1a60-779b-4583-b32a-b21704dae686,Lawan,Offodile,9135030564,lawan.offodile@yahoo.com,Jigawa,North West,2022-06-24,22,Male,Student,50k-100k
6,6fd88cc5-96b6-4f76-ba94-0a5a2f921b6e,Patience,Bala,7024238849,patience.bala@hotmail.com,Nasarawa,North Central,2022-10-05,45,Female,Student,50k-100k
7,cb585949-9c0c-439b-96ef-5650b835f639,Olatunji,Galadima,8001226916,olatunji.galadima@gmail.com,Plateau,North Central,2025-01-30,42,Female,Student,Above 500k
8,2a723471-3ac9-451e-9621-f6412009ee98,Adetokunbo,YarAdua,9145146270,adetokunbo.yaradua@hotmail.com,Borno,North East,2024-04-01,64,Female,Civil Servant,Above 500k
9,66d51201-994e-4bc1-be8b-39ee857d54b5,Muyiwa,Okonjo,9193252880,muyiwa.okonjo@hotmail.com,Kano,North West,2024-04-03,56,Female,Business Owner,Below 50k
10,eb0337f4-c731-400a-85df-3a75f965fdc1,Ngozi,Nwabueze,8103911718,ngozi.nwabueze@yahoo.com,Kano,North West,2023-07-05,67,Male,Civil Servant,250k-500k
11,28b6dfb5-f670-4707-b1a8-6e224edc81df,Yakubu,Oyewole,9196383465,yakubu.oyewole@hotmail.com,Imo,South East,2022-06-25,46,Female,Trader,50k-100k

In [6]:
dataset.groupby('income_level').count()

,user_id,first_name,last_name,phone_number,email,state,region,registration_date,age,gender,occupation
income_level,,,,,,,,,,,
100k-250k,352597,352597,352597,352597,352597,352597,352597,352597,352597,352597,352597
250k-500k,353906,353906,353906,353906,353906,353906,353906,353906,353906,353906,353906
50k-100k,352822,352822,352822,352822,352822,352822,352822,352822,352822,352822,352822
Above 500k,352339,352339,352339,352339,352339,352339,352339,352339,352339,352339,352339
Below 50k,354228,354228,354228,354228,354228,354228,354228,354228,354228,354228,354228

In [7]:
dataset.user_id.count()

1765892

In [8]:
dataset.registration_date.min()

'2022-05-03'

In [9]:
dataset.groupby('age').count()

,user_id,first_name,last_name,phone_number,email,state,region,registration_date,gender,occupation,income_level
age,,,,,,,,,,,
18,33251,33251,33251,33251,33251,33251,33251,33251,33251,33251,33251
19,33430,33430,33430,33430,33430,33430,33430,33430,33430,33430,33430
20,33440,33440,33440,33440,33440,33440,33440,33440,33440,33440,33440
21,33116,33116,33116,33116,33116,33116,33116,33116,33116,33116,33116
22,33360,33360,33360,33360,33360,33360,33360,33360,33360,33360,33360
23,33277,33277,33277,33277,33277,33277,33277,33277,33277,33277,33277
24,33373,33373,33373,33373,33373,33373,33373,33373,33373,33373,33373
25,33530,33530,33530,33530,33530,33530,33530,33530,33530,33530,33530
26,33445,33445,33445,33445,33445,33445,33445,33445,33445,33445,33445
27,33235,33235,33235,33235,33235,33235,33235,33235,33235,33235,33235
28,33429,33429,33429,33429,33429,33429,33429,33429,33429,33429,33429
29,33331,33331,33331,33331,33331,33331,33331,33331,33331,33331,33331
30,33498,33498,33498,33498,33498,33498,33498,33498,33498,33498,33498
31,33209,33209,33209,33209,33209,33209,33209,33209,33209,33209,33209
32,33428,33428,33428,33428,33428,33428,33428,33428,33428,33428,33428
33,33405,33405,33405,33405,33405,33405,33405,33405,33405,33405,33405
34,33245,33245,33245,33245,33245,33245,33245,33245,33245,33245,33245
35,33583,33583,33583,33583,33583,33583,33583,33583,33583,33583,33583
36,33276,33276,33276,33276,33276,33276,33276,33276,33276,33276,33276
37,33224,33224,33224,33224,33224,33224,33224,33224,33224,33224,33224
38,33563,33563,33563,33563,33563,33563,33563,33563,33563,33563,33563
39,33307,33307,33307,33307,33307,33307,33307,33307,33307,33307,33307
40,33212,33212,33212,33212,33212,33212,33212,33212,33212,33212,33212
41,33421,33421,33421,33421,33421,33421,33421,33421,33421,33421,33421
42,33064,33064,33064,33064,33064,33064,33064,33064,33064,33064,33064
43,33330,33330,33330,33330,33330,33330,33330,33330,33330,33330,33330
44,32924,32924,32924,32924,32924,32924,32924,32924,32924,32924,32924
45,33103,33103,33103,33103,33103,33103,33103,33103,33103,33103,33103
46,33258,33258,33258,33258,33258,33258,33258,33258,33258,33258,33258
47,32883,32883,32883,32883,32883,32883,32883,32883,32883,32883,32883
48,33420,33420,33420,33420,33420,33420,33420,33420,33420,33420,33420
49,33518,33518,33518,33518,33518,33518,33518,33518,33518,33518,33518
50,33423,33423,33423,33423,33423,33423,33423,33423,33423,33423,33423
51,33211,33211,33211,33211,33211,33211,33211,33211,33211,33211,33211
52,33292,33292,33292,33292,33292,33292,33292,33292,33292,33292,33292
53,33101,33101,33101,33101,33101,33101,33101,33101,33101,33101,33101
54,33338,33338,33338,33338,33338,33338,33338,33338,33338,33338,33338
55,33379,33379,33379,33379,33379,33379,33379,33379,33379,33379,33379
56,33445,33445,33445,33445,33445,33445,33445,33445,33445,33445,33445
57,33644,33644,33644,33644,33644,33644,33644,33644,33644,33644,33644
58,33585,33585,33585,33585,33585,33585,33585,33585,33585,33585,33585
59,33449,33449,33449,33449,33449,33449,33449,33449,33449,33449,33449
60,33034,33034,33034,33034,33034,33034,33034,33034,33034,33034,33034
61,33257,33257,33257,33257,33257,33257,33257,33257,33257,33257,33257
62,33445,33445,33445,33445,33445,33445,33445,33445,33445,33445,33445
63,33402,33402,33402,33402,33402,33402,33402,33402,33402,33402,33402
64,33264,33264,33264,33264,33264,33264,33264,33264,33264,33264,33264
65,33153,33153,33153,33153,33153,33153,33153,33153,33153,33153,33153
66,33275,33275,33275,33275,33275,33275,33275,33275,33275,33275,33275
67,33157,33157,33157,33157,33157,33157,33157,33157,33157,33157,33157
68,33189,33189,33189,33189,33189,33189,33189,33189,33189,33189,33189
69,33209,33209,33209,33209,33209,33209,33209,33209,33209,33209,33209
70,33552,33552,33552,33552,33552,33552,33552,33552,33552,33552,33552

In [15]:
dataset[(dataset['first_name'] == 'Destiny') & (dataset['last_name'] == 'Johnson')]

Empty DataFrame
Columns: [user_id, first_name, last_name, phone_number, email, state, region, registration_date, age, gender, occupation, income_level]
Index: []

In [18]:
dataset.groupby('state').count()

,user_id,first_name,last_name,phone_number,email,region,registration_date,age,gender,occupation,income_level
state,,,,,,,,,,,
Abia,47837,47837,47837,47837,47837,47837,47837,47837,47837,47837,47837
Adamawa,47462,47462,47462,47462,47462,47462,47462,47462,47462,47462,47462
Akwa Ibom,47834,47834,47834,47834,47834,47834,47834,47834,47834,47834,47834
Anambra,47547,47547,47547,47547,47547,47547,47547,47547,47547,47547,47547
Bauchi,47823,47823,47823,47823,47823,47823,47823,47823,47823,47823,47823
Bayelsa,47804,47804,47804,47804,47804,47804,47804,47804,47804,47804,47804
Benue,47888,47888,47888,47888,47888,47888,47888,47888,47888,47888,47888
Borno,47850,47850,47850,47850,47850,47850,47850,47850,47850,47850,47850
Cross River,47738,47738,47738,47738,47738,47738,47738,47738,47738,47738,47738
Delta,47593,47593,47593,47593,47593,47593,47593,47593,47593,47593,47593
Ebonyi,47811,47811,47811,47811,47811,47811,47811,47811,47811,47811,47811
Edo,47736,47736,47736,47736,47736,47736,47736,47736,47736,47736,47736
Ekiti,47808,47808,47808,47808,47808,47808,47808,47808,47808,47808,47808
Enugu,47676,47676,47676,47676,47676,47676,47676,47676,47676,47676,47676
FCT (Abuja),48109,48109,48109,48109,48109,48109,48109,48109,48109,48109,48109
Gombe,48018,48018,48018,48018,48018,48018,48018,48018,48018,48018,48018
Imo,47867,47867,47867,47867,47867,47867,47867,47867,47867,47867,47867
Jigawa,47752,47752,47752,47752,47752,47752,47752,47752,47752,47752,47752
Kaduna,47696,47696,47696,47696,47696,47696,47696,47696,47696,47696,47696
Kano,47705,47705,47705,47705,47705,47705,47705,47705,47705,47705,47705
Katsina,48061,48061,48061,48061,48061,48061,48061,48061,48061,48061,48061
Kebbi,47786,47786,47786,47786,47786,47786,47786,47786,47786,47786,47786
Kogi,47556,47556,47556,47556,47556,47556,47556,47556,47556,47556,47556
Kwara,47805,47805,47805,47805,47805,47805,47805,47805,47805,47805,47805
Lagos,47492,47492,47492,47492,47492,47492,47492,47492,47492,47492,47492
Nasarawa,47697,47697,47697,47697,47697,47697,47697,47697,47697,47697,47697
Niger,48013,48013,48013,48013,48013,48013,48013,48013,48013,48013,48013
Ogun,47736,47736,47736,47736,47736,47736,47736,47736,47736,47736,47736
Ondo,47649,47649,47649,47649,47649,47649,47649,47649,47649,47649,47649
Osun,47507,47507,47507,47507,47507,47507,47507,47507,47507,47507,47507
Oyo,47426,47426,47426,47426,47426,47426,47426,47426,47426,47426,47426
Plateau,47716,47716,47716,47716,47716,47716,47716,47716,47716,47716,47716
Rivers,47683,47683,47683,47683,47683,47683,47683,47683,47683,47683,47683
Sokoto,47518,47518,47518,47518,47518,47518,47518,47518,47518,47518,47518
Taraba,47534,47534,47534,47534,47534,47534,47534,47534,47534,47534,47534
Yobe,47507,47507,47507,47507,47507,47507,47507,47507,47507,47507,47507
Zamfara,47652,47652,47652,47652,47652,47652,47652,47652,47652,47652,47652